@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}


.arrow-animate{
    animation: arrow-bounce 0.7s infinite alternate;
}

@keyframes arrow-bounce{
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0);
    }
}

.slider-animate {
  animation: scrollY 15s infinite; /* 6 items = steps(6) */
}


@keyframes scrollY{
    10%{
        transform: translateY(-100%);
    }
    /* 20%{
        transform: translateY(-200%);
    }
    30%{
        transform: translateY(-200%);
    } */
    50%{
        transform: translateY(-300%);
    }
    70%{
        transform: translateY(-500%);
    }
    /* 80%{
        transform: translateY(-700%);
    } */
    /* 90%{
        transform: translateY(-800%);
    } */
}