@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}


.icon{
    animation: arrow-bounce 0.7s infinite alternate;
}

@keyframes arrow-bounce{
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0);
    }
}

.animate{
    animation: scrollY 0.8s infinite
}

@keyframes scrollY{
    from{
        transform : translateY(0)
    }
    to{
        transform: translateY(100%);
    }
}